<div class="clearfix">
  <div id="thumbcarousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
      <% product.master.images.each_with_index do | image, index | %>
        <div data-target="#carousel" data-slide-to="<%= index %>" class="thumb">
          <%= image_tag image.attachment(:small) %>
        </div>
      <% end %>
      <% if product.variants.any? %>
        <% variant.images.each.with_index(variant.images.count) do |image, index| %>
          <div data-target="#carousel" data-slide-to="<%= index %>" class="thumb">
            <%= image_tag image.attachment(:small) %>
          </div>
        <% end %>
      <% end %>
    </div>
    <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
